{% extends "userbase.html" %}
{% block title %}材料查询{% endblock %}
{% block content %}
<div id="wrapper">
   <div class="col-xs-12">
      <section class="col-md-12">
         <nav class="navbar navbar-light bg-light">
            <span class="navbar-text mb-0">{{message}}</span>
         </nav>
         <span class="row">
            <form action="/category/" method="get">
               <div class="form-group row">
                  <div class="col-sm-5">
                     <div class="input-group">
                        <input type="text" class="form-control" id="person_information" name="person_information" value="{{information|escape}}">
                        <input type="hidden" id="action" name="action" value="retrieve">
                        <span class="input-group-btn">
                           <button class="btn btn-default" type="submit">确定</button>
                        </span>
                     </div>
                  </div>
               </div>
            </form>
         </span>
         <span>
            <table class="table table-condensed table-bordered">
               <tbody>
                  <thead>
                     <tr>
                        <td>姓名</td>
                        <td>身份证号码</td>
                        <td>材料</td>
                        <td>材料类别</td>
                        <td>页数</td>
                        <td></td>
                     </tr>
                  </thead>
                  {% for register in register_list %}
                  <tr role="button" data-toggle="modal" data-target="#import-tax-row1">
                     <td>{{ register.person.name}}</td>
                     <td>{{ register.person.id_number}}</td>
                     <td>{{ register.category.name}}</td>
                     <td>{{ register.category.code}}</td>
                     <td>{{ register.quantity}}</td>
                     <td>
                        <form action="/category/" method="post">
                           <input type="hidden" id="register_id" name="register_id" value="{{register.id}}">
                           <input type="hidden" id="action" name="action" value="delete">
                           <input type="submit" class="btn btn-primary" value="删除">
                        </form>
                     </td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </span>
      </section>
   </div>
</div>
{% endblock %}