{% extends "userbase.html" %}
{% block title %}人员详细信息{% endblock %}
{% block content %}
<div id="wrapper">
   <div class="col-xs-12">
      <section class="col-md-12">
         
         <nav class="navbar navbar-light bg-light">
            <span class="navbar-text mb-0">
               <p>未找到人员</p>
            </span>
         </nav>
         
         <span>
            <ul class="list-group">
               <li class="list-group-item"><a class="btn btn-primary" href="/person/new/" role="button">新增人员</a></li>
            </ul>
         </span>
         
      </section>
   </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}