{% extends "userbase.html" %}
{% block title %}历史{% endblock %}
{% block content %}
<div id="wrapper">
   <div class="col-xs-12">
      <section class="col-md-12">
         <nav class="navbar navbar-light bg-light">
            <span class="navbar-text mb-0">
               {% for message in messages %}
               <p>{{ message }}</p>
               {% endfor %}
            </span>
         </nav>
         {% if person %}
         <span>
            <ul class="list-group">
               <li class="list-group-item">姓名: {{person.name}}</li>
               <li class="list-group-item">档案编号: {{person.code}}</li>
               <li class="list-group-item">工作单位: {{person.unit}}</li>
               <li class="list-group-item">序列号: {{person.serial}}</li>
               <li class="list-group-item">身份证号: {{person.id_number}}</li>
               <li class="list-group-item">
                  <a class="btn btn-outline-secondary" href="/person/detail/{{person.id}}" role="button">返回</a>
               </li>
            </ul>
         </span>

         <span>
            <table class="table table-condensed table-sm">
               <thead>
                  <tr>
                     <td>姓名</td>
                     <td>档案编号</td>
                     <td>工作单位</td>
                     <td>序列号</td>
                     <td>身份证号</td>
                     <td>操作员</td>
                     <td>操作</td>
                     <td>操作日期</td>
                     <td>操作时间</td>
                  </tr>
               </thead>
               <tbody>
                  {% for log in log_list %}
                  <tr role="button" data-toggle="modal" data-target="#import-tax-row1">
                     <td>{{ log.name }}</td>
                     <td>{{ log.code }}</td>
                     <td>{{ log.unit }}</td>
                     <td>{{ log.serial }}</td>
                     <td>{{ log.id_number }}</td>
                     <td>{{ log.user.username }}</td>
                     <td>{% if log.operation == 'delete' %}删除{% endif %}
                     {%if log.operation == 'create' %}建立{% endif %}
                     {%if log.operation == 'update' %}更新{% endif %}
                     </td>
                     <td>{{ log.operation_date }}</td>
                     <td>{{ log.operation_time }}</td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </span>
         {% else %}
         <span>
            <ul class="list-group">
               <li class="list-group-item"><a class="btn btn-outline-primary" href="/person/new/" role="button">新增人员</a></li>
            </ul>
         </span>
         {% endif %}
      </section>
   </div>
</div>
{% endblock %}