{% extends "base.html" %}
{% block header %}
<header style="float: right; margin-right: 1em;">   
   <section>
      操作员: {{user.last_name}}{{user.first_name}}
      <div class="btn-group" role="group">
         {% if user.is_staff%}
         <a class="btn btn-outline-primary" href="/admin/" role="button">管理平台</a>
         {% endif %}
         <a class="btn btn-outline-primary" href="/person/search/">人员查找</a>
         <a class="btn btn-outline-primary" href="/admin/password_change/">修改密码</a>
         <a class="btn btn-outline-primary" href="/logout/">退出登录</a>
      </div>
   </section>
</header>
{% endblock %}